@import "tailwindcss";

/* Paksa tema terang yang kontras */
:root { color-scheme: light; }

html, body {
  background: #ffffff;
  color: #111827; /* neutral-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select, textarea {
  background: #ffffff;
  color: #111827;
}

table thead th { font-weight: 600; color: #1f2937; } /* neutral-800 */
table tbody td { color: #1f2937; }                  /* neutral-800 */
